body {
    font-family: 'Source Sans Pro', sans-serif !important;
}


h1, h2, h3, h4, h6 {
    font-weight: 700 !important;

}


header {
    margin-bottom: 60px;
}


header .menu .logo {
    margin-top: 10px;
}

header .menu {
    min-height: 100px;
}

header .header-title {
    margin-top: 170px;
    font-size: 6em;
    background: -webkit-linear-gradient(90deg, #8524b6, #c055ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .header-title-sec {
    font-size: 4em;
    color: #ffffff;
    font-weight: 500;
}

header .header-info {
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 3rem;
}

header .join {
    justify-content: center;
    margin-bottom: 30px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header .wrapper .join {
    margin-top: 50px;
}

header .wrapper .wrapper-text {
    margin-top: -3px;
    color: #8524b6;
    max-width: 425px;
    text-align: left;
}


/*.wrapper .btn {*/
/*    background: linear-gradient(50deg, #8524b6, #c055ff);*/
/*    border: none !important;*/
/*}*/

/*.wrapper .btn:before {*/
/*    background: linear-gradient(50deg, #8524b6, #c055ff);*/
/*    border: none !important;*/
/*    transition: all 13s ease !important;*/
/*}*/

/*.wrapper .btn:hover {*/
/*    transition: 3s !important;*/
/*    background: linear-gradient(50deg, #5a1a7a, #6f1c9d)*/
/*}*/

.bold-text {
    font-weight: 700 !important;
}

.navbar .nav-brand-text {
    color: #ffffff;
    font-size: 21px;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.text-white {
    color: #ffffff !important;
}

header .card-header {
    border-radius: 20px;
    border: 1px solid #c055ff;
    overflow: hidden;
}

.card-header .card-image {
    margin-top: 100px;
    padding: 0.3rem;
    width: 600px;
    border-radius: 15px;
    background: linear-gradient(to right, #2049bd, #C055FFFF);
}


.bi {
    border-radius: 10px;
    font-size: 2.5rem;
    background-color: #8524b6;
    padding: 2px 7px 2px 7px;
}

.fs-5 {
    padding-left: 3rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pe-2 {
    padding-right: 2rem !important;
}

.ps-md-0 {
    padding-left: 0 !important;
}

.ms-md-3 {
    margin-left: 1rem !important;
}

.row .card-header {
    border-radius: 20px;
    border: 1px solid #c055ff;
    overflow: hidden;
}

.pe-0 {
    padding-right: 0 !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.card-header .card-full-text {
    font-size: 1.25rem !important;
}

.content-wrapper {
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
}

.fs-6 {
    font-size: 1rem !important;
}

.fs-3 {
    font-size: 1.2rem !important;
}

.justify-content-start {
    justify-content: start;
}

.modal-header {
    border-bottom: none !important;
}

.text-center {
    text-align: center !important;
}

.pb-2 {
    padding-bottom: 1.5rem !important;
}

.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 1rem;
    color: red !important;
    font-weight: 400 !important;
}

.comment img {
    max-width: 300px !important;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6d33cb;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-item:hover {
    color: #9816dc !important;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.2rem !important;
    color: #333 !important;
    transition: color .3s;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #9816dc !important;
}

.content {
    position: relative;
    height: 100vh;
    max-height: 120rem;
    min-height: 40rem;
}

.home_hero__content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 62%;
}

.about-me {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-me-text-1 {
    font-size: 4rem;
    color: #111;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.text-primary {
    margin: 3rem auto 0 auto;
    color: #333 !important;
    font-size: 1.3rem;
}

.home_hero__cta {
    margin-top: 5rem;
    text-align: center;
}

.btn--bg {
    padding: 1.5rem 8rem;
}

.btn {
    background: #6d33cb;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    transition: background-color .3s;
}

.home_hero__socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-165%);
    background: #fff;
    box-shadow: rgba(100, 130, 120, 0.5) 0 7px 29px 0;
    padding: 0.5rem;
}

.home_hero__social {
    width: 4rem;
}

.home-hero__social-icon-link {
    width: 100%;
    display: block;
    padding: 1rem;
    transition: background .3s;
    border-radius: 5px;
}

.home-hero__social-icon {
    width: 100%;
}
